@background-color: #706b6b;

body {
  background-color: @background-color;
  font-family: Arial, Helvetica, sans-serif;
}

.mainContent {
  padding-top: 50px;
  max-width: 500px;
  margin: 0 auto ;
}

.select {
  display: inline-block;
  margin-bottom: 10px;
}

//Styles for the image sprites
.human, .pre-trained, .random, .player1, .player2
{
  background: url('../images/images.png') no-repeat;
}

.human {
  background-position: -1px -0;
  width: 148px;
  height: 148px;
}

.pre-trained {
  background-position: -1px -149px;
  width: 148px;
  height: 148px;
}

.random {
  background-position: -1px -298px;
  width: 148px;
  height: 148px;
}

.player2 {
  background-position: -1px -447px;
  width: 100px;
  height: 100px;
}
.player1 {
  background-position: -1px -548px;
  width: 100px;
  height: 100px;
}

.gameboard {
  margin-left: 100px;
  width: 300px;
  height: 300px;
}

.gameCells {
  width: 100px;
  height: 100px;
  outline: 1px solid;
  float: left;
}

.centre {
  text-align: center;
}

button {
  background-color: #c7821a;
  -moz-border-radius:25px;
  -webkit-border-radius:25px;
  border-radius:25px;
  border:1px solid #ffffff;
  display:inline-block;
  color:#ffffff;
  font-family:Arial;
  font-size:15px;
  padding: 10px 20px 10px 20px;
  text-decoration:none;
}
button:hover {
  background-color: #bfb598;
}

