@background-color: #700b1b;
@link-color: #7B906F;
@link-lowlight-color: #7F7F7F;

body {
  background-color: @background-color;
}

a{
  color: @link-color;
  text-decoration: none;
  a:hover {
    color: @link-lowlight-color;
  }
}