<!DOCTYPE html>
<html lang="en" ng-app="Tombola.NoughtAndCrosses.Core">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="../../bower_components/angular/angular.min.js"></script>
    <script src="scripts/temp.js"></script>
</head>
<body ng-controller="MainController">
    <section>
        <h1>Player1 : {{player1}}</h1>
        <h1>Player2 : {{player2}}</h1>
        <select ng-model="player1">
            <option value="human">Human</option>
            <option value="random">Random Computer</option>
            <option value="pre-trained">Pre-trained Computer</option>
        </select>
        <select ng-model="player2">
            <option value="human">Human</option>
            <option value="random">Random Computer</option>
            <option value="pre-trained">Pre-trained Computer</option>
        </select>
    </section>
    <section ng-show="player1 == 'human' && player2 == 'human'">
        <table id="gameboard" style="border:1px solid black;">
            <tr>
                <td ng-click="gameboardTapped(0)"><img ng-src="images/{{imageURL}}"></td>
                <td ng-click="gameboardTapped(1)"><img ng-src="images/{{imageURL}}"></td>
                <td ng-click="gameboardTapped(2)"><img ng-src="images/{{imageURL}}"></td>
            </tr>
            <tr>
                <td ng-click="gameboardTapped(3)"><img ng-src="images/{{imageURL}}"></td>
                <td ng-click="gameboardTapped(4)"><img ng-src="images/{{imageURL}}"></td>
                <td ng-click="gameboardTapped(5)"><img ng-src="images/{{imageURL}}"></td>
            </tr>
            <tr>
                <td ng-click="gameboardTapped(6)"><img ng-src="images/{{imageURL}}"></td>
                <td ng-click="gameboardTapped(7)"><img ng-src="images/{{imageURL}}"></td>
                <td ng-click="gameboardTapped(8)"><img ng-src="images/{{imageURL}}"></td>
            </tr>
        </table>
        <h1>{{gameboard}}</h1>
    </section>
</body>
</html>