<h1>{{game.players.player1}} vs {{game.players.player2}}</h1>
<table>
    <tr>
        <td><game-cell square-number="0"></game-cell></td>
        <td class="cellBorder"><game-cell square-number="1"></game-cell></td>
        <td><game-cell square-number="2"></game-cell></td>
    </tr>
    <tr class="rb">
        <td class="rowBorder"><game-cell square-number="3"></game-cell></td>
        <td class="rowBorder cellBorder"><game-cell square-number="4"></game-cell></td>
        <td class="rowBorder"><game-cell square-number="5"></game-cell></td>
    </tr>
    <tr class="rb">
        <td><game-cell square-number="6"></game-cell></td>
        <td class="cellBorder"><game-cell square-number="7"></game-cell></td>
        <td><game-cell square-number="8"></game-cell></td>
    </tr>
</table>
<div ui-view></div>



