<br/>
<div class="animated fadeInUpBig">
    <li>Choose your player type. You have the options of:
        <ul>
            <li>Human</li>
            <li>CPU: Random</li>
            <li>CPU: Pre-Trained</li>
        </ul>
    </li>
    <li>Press the <b>Play</b> button</li>
    <li>Player 1 always goes first</li>
    <li>Game always ends with a win or a draw</li>
    <li>Press <b>Change Players</b> to go back to the character selection screen or <b>Play again</b> to restart</li>
    </ul>
</div>